# Node and package manager
node_modules
**/node_modules

# Build artifacts
dist
**/dist
.next
out

# Env files
.env
.env.*

# Custom scripts
scripts

# Git
.git
.github
.gitignore
.husky
README.md

# Editor configs
.vscode
.prettierignore
prettier.config.js

# Docker
Dockerfile
.dockerignore
